
.editor-menu{
    display:none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    position: absolute;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    width:auto;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    font-size: 13px;
}

.editor-menu ul {
       list-style: none;
        padding: 0;
        margin: 0;
}

.editor-menu li{
    margin: 0px;
    padding: 3px;
}
.editor-menu ul a{
    display: block;
	padding: 1px 5px;
	padding-left: 28px;
    text-decoration: none;
    color: #000;
    background-repeat: no-repeat;

}
.editor-menu ul a:hover{
    background-color:#ffd988;
}
.editor-menu ul li a:hover, .editor-menu ul li a:focus {
	color: #ffffff;
	background-color: #ea9148;
}

.seprator{
    border-bottom: 1px solid  #DDDDDD;
}


.editor-menu li.project A { background-image: url(../images/icons//cut.png); }
.editor-menu li.package A { background-image: url(../images/icons/copy.png); }
.editor-menu li.class A { background-image: url(../images/icons/paste.png); }
.editor-menu li.open A { background-image: url(../images/icons/edit.png); }
.editor-menu li.delete A { background-image: url(../images/icons/delete.png); }
