@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.clear {
	clear: both;
}

.codecontent {
	float: left;
	width: 95%;
	height: 330PX;
	padding-top: 10px;
	padding-left: 3px;
	margin-top:0px;
}

.codess {
	float: left;
	width: 95%;
	font-family: "Courier New", Courier, monospace;
	height: 300px;
	padding: 5px;
	border-color: #00CCFF;
	border: 1PX inset;
	color: #0066CC;
	margin: 14px 0px 10px 14px;
}

.grey {
	color: #999
}

#msg1,#msg2,#msg3,#msg4 {
	display: none
}

#li {
	background: #ecf0f5;
	height: 330px;
	overflow: hidden;
	width: 4%;
	border-right: 0;
	line-height: 20px;
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
	text-align: center
}

#context {
	width: 150px;
	height: 150px;
	color:#ffffff;
}
.isEdit{
	background:#5D863B;
}
.isSave{
	background:#AA863B;
}
#c2 {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0px;
	width: 91%;
	padding: 0 0 0 8px;
	overflow-x: hidden;
	line-height: 20px;
}

.buttonarea .review {
	background: #ccc;
	padding: 7px;
	margin: 7px;
}

.box {
	color: #e67d28;
}

.box input {
	border: 1px solid #e67d28;
}

#daimas {
	width: 710px;
	height: 300px;
}

.resultarea {
	padding: 10px;
}

#jstree {
	float: left;
	width: 45%;
	background-color: transparent;
	color: white;
}
.no_icon{
	display:none;
}
/*********************一下为程序运行结果的Console窗口布局样式**************/
.resultconsole{
	width:100%;
	height:200px;
	background:#555;
	border:solid white 1px;
	color:white;
}



/*************以下为程序代码区布局***************/

.switchBox, .slideBox {
	margin-top:10x;
	margin-left:20px;
	border: 1px solid #999999;
	width: 480px;
}
.switchBox dt, .slideBox dt {
	height: 28px;
}
.switchBox span, .switchBox a, .switchBox em, .slideBox span, .slideBox a, .slideBox em {
	background-color: #AA863B;
	color: #ffffff;
	cursor: pointer;
	float: left;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	width: 120px;
	font-style: normal;
	margin:2px;
}
.switchBox dt .on, .slideBox dt .on {
	background-color: #ffffff;
	font-weight: bolder;
}
.switchBox dt .active, .slideBox dt .active {
	background-color: #ffffcc;
	font-weight: bolder;
}
.switchBox dt .on, .switchBox dt .active, .switchBox a:hover, .slideBox dt .on, .slideBox dt .active, .slideBox a:hover {
	color: #cc0000;
}
.switchBox dt .fat {
	color: #0000ff;
	width: 150px;
}
.switchBox dt .fat:hover {
	color: #ffff00;
}

#switchBox5 {
	width: 750px;
}

